.App {
  text-align: center;
  min-height: 100vh;
  min-width: 100vw;
  background-image: url(./glenn-carstens-peters-190592-unsplash.jpg);
  background-repeat:no-repeat;
  background-position: center center;
  background-size: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.well {
  max-width: 60vw;
  align-self: center;
  padding: 50px;
  background-color: rgba(211,211,211, .6);
  border: solid .5em coral;
  max-height: 85vh;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
