.todo-item-wrapper {
  display: flex;
  align-items: center;
}

.fa {
  margin-right: 10px;
}

.header-fa {
  cursor: pointer;
}

.strike {
  text-decoration: line-through;
}

.todo-list-item {
  font-size: 1.5em;
}