.todo-item-list-wraper {
  min-width: 50vw;
  min-height: 35vh;
  border: solid coral .5em;
  margin: 25px auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: column;
}